<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <%= title %>
      </h1>
    </header>
    <div class="todo">
      <form action="/" method="post" class="add-form">
        <input required type="text" name="add" placeholder="何をする?" />
        <button type="submit">追加</button>
      </form>
      <% if(todos.length===0) { %>
        <p class="nothing-todo">Todoが何もありません。</p>
        <% } %>
          <% if(todos.length !==0) { %>
            <ul>
              <% for(let todo of todos){ %>
                <li>
                  <span>
                    <%= todo.content %>
                  </span>
                  <form action="/delete/<%= todo.id %>" method="post" class="delete-form">
                    <button type="submit">削除</button>
                  </form>
                </li>
                <% } %>
            </ul>
            <% } %>
    </div>
  </div>
</body>

</html>